[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
scikit-learn = ">=1.3.0"
boto3 = "*"
pytest = "*"
deepdiff = "*"
moto = "==4.2.2"
hypothesis = "*"

[dev-packages]
deepdiff = "*"
pylint = "*"
black = "*"
isort = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.11"